<form (submit)="loginUser($event)">
  <div class="container">
      <div class="col-sm-3 col-md-6">
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username">
    </div>
  </div>
  <div class="container">
      <div class="col-sm-3 col-md-6">
    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password">
    </div>
   </div>

   <div class="container"> 
    <input type="submit" value="Login">

  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form> 
<div>
  <p>LoginCredential:admin:admin123</p>
</div>
